.dashboard-wrapper {
  padding: 20px;

}

.header {
  width: 100%;
  text-align: center;
}

.row {
  width: 100%;
}

.column {
  width: calc(25% - 44px);
  float: left;
  padding: 20px;
  background-color: #F0E8D0;
  height: 400px;
  border: 1px solid white;
}

h3 {
  text-align: center
}

p {
  font-weight: bold;
}
